<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Weather Monitor</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap-3.3.6-dist/css/signin.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'bootstrap-3.3.6-dist/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  	{% if msg %}
  		<div class="container">
  			<h2 style="text-align:center;">{{msg}}</h2>
  		</div>
  	{% endif %}
    <div class="container">
      <form class="form-signin" method="POST">
      	{% csrf_token %}
          <div style = "margin:auto; ">
              <h2 class="form-signin-heading">Please sign in</h2><br>
          </div>
        <!-- <label for="inputEmail" class="sr-only">Email address</label> -->
          <div style = "padding-bottom:10px; margin:auto; ">
            <input type="text" name="email" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
           </div>
        <!-- <label for="inputPassword" class="sr-only">Password</label> -->
          <div style = "margin-bottom:10px; margin:auto; ">
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
          </div>
          <div class = "row">
            <div style = "margin:auto;">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
          </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" style = "width:180px;">Sign in</button>
          </div>
      </form>
    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{%static 'bootstrap-3.3.6-dist/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
